bot/configuration/configuration_file.json
.idea/
bot/__pycache__/
bot/configuration/__pycache__/
bot/handlers/__pycache__/
bot/handlers/user/__pycache__/
venv/Lib/
venv/Scripts/
venv/pyvenv.cfg
bot/data/data_message/__pycache__/
bot/keyboards/__pycache__/
venv/
